body {
  margin: 0;
  border: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
  /*background: url("/images/reading%20book.jpg") 0/cover #202020;*/
  
  background-color: #202020;
  background-image: url("/images/reading%20book.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-clip: content-box;
  background-attachment: scroll;
}

.card-center {
	margin: auto;
}


.flex-container {
    height: 100%;
    width: 100%;
	display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
	
}